@inherits LayoutComponentBase
@layout MainLayout

<div id="sidebar">
    <NavLink href="/admin/dashboard/cpu">
        Cpu
    </NavLink>
    <NavLink href="/admin/dashboard/ram">
        Ram
    </NavLink>
    <NavLink href="/admin/dashboard/profile">
        Profile
    </NavLink>
</div>


<main>
    @Body
</main>