@page "/todo"
@rendermode InteractiveServer
@using HelpYAll.Data.AppDbContext
@using HelpYAll.Model.Todo
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> DbContextFactory

<PageTitle>Todo</PageTitle>


@if (todos is null)
{
    <h1>empty todos</h1>
}
else
{
    @foreach (var todo in todos)
    {
        <p>@todo.Text</p>
    }
}

<form @onsubmit="Submit" @formname="todo-form">
    <AntiforgeryToken />
    <InputText @bind-Value="Text" />
    <button type="submit">Submit</button>
</form>


@code {
    private List<Todo>? todos { get; set; }
    private string? Text { get; set; }

    protected override void OnInitialized()
    {
        var context = DbContextFactory.CreateDbContext();

        if (context is not null)
        {
            todos = context.Todos.ToList();
        }
    }


    protected void Submit()
    {
        var context = DbContextFactory.CreateDbContext();

        if (context is not null)
        {
            var todo = new Todo { Text = Text, IsDone = false };
            context.Todos.Add(todo);
            todos!.Add(todo);
            context.SaveChanges();
        }
    }
}